* {
    margin: 0;
    padding: 0;
}

header,
footer {
    width: 100%;
    height: 120px;
    background-color: #acd2ed;
    color: white;
}

h1 {
    text-align: center;
    color: #0a210f
}
h2 {
    text-align: center;
    color: #14591d
}

img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    padding-left: 40px;
    font-size: 20px;
}

p {
    text-align: left;
    font-size: 20px;
}

.card {
    width: 80%;
    margin: 40px auto;
    border: 5px solid #e1e289;
    box-shadow: 5px 5px #99aa38;
  }